/* 39469b    >>    39469b  */

/*********************************************************************
/****************    FIXED SIZE RIGHTSIDE SIDEBAR   ******************
/*********************************************************************
<div id="content_area" class="blog"> gives .blog override.
Following presumes code structure with sidebar after content like:
<div id="content"></div><div id="sidebar"></div>
Sidebar will fold underneath when 640px or less, can be customized.
Comment out this whole section to use basic.css settings.			*/

#content_area-inner{
	padding-left:1em;
	padding-right:1em;
}
.blog #content {
	width:100%;
	margin:0; RESET_ANY_SET_MARGIN:;
	padding:0; PADDING_CAN_NOT_BE_USED_WITH_100PERCENT_WIDTH:;
}

#blog-description {
	border-bottom: 1px solid #eee;
}

#content_area.blog.hasSidebar #content {
	padding-left: 1em;
	padding-right: 0;
	margin-right: 0;
	float:left;
	width: 62%;
}
#content_area.blog.noSidebar #content {
	padding-right: 1em;
}

#content_area.hasSidebar #sidebar-top, #content_area.hasSidebar #sidebar-bottom {
    position: relative;
    left: auto;
    right: 1em;

}

.blog #tblComment #captchaContainer img {
	float: none;
}
.blog #tblComment #captchaContainer img.refreshImg {
	width: 30px;
	height: 30px;
}

@media screen and (min-width: 650px) {
	#content_area.hasSidebar #content {
		padding-left: 1em;
		padding-right: 290px;
		margin-right: 0;
	}
	.blog #content-inner {
		margin: 0;
	}
}

@media screen and (min-width:641px) and (max-width:767px){
	.blog #content {
		float:left;
	}
	.blog #content-inner {
		margin-right:3em;
	}

}

@media screen and (min-width:768px){
	#content_area-inner{
		padding-left:1.5em;
		padding-right:1.5em;
	}
	.blog #content {
		float:left;
	}
	.blog #content-inner {
		margin-right:0;
	}

}

/*********************************************************************/
/*********************************************************************/
/*********************************************************************/

#content,
.blog #tblComment input,
.blog #tblComment textarea {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

hr.color-divider {
	float:left;
	width:4.3em;
	border:none;
	border-top:1px solid #39469b;
}
hr.color-rule {
	border:none;
	border-top:1px solid #39469b;
	margin:1em 0;
}
hr.grey-rule {
	clear:both;
	border:none;
	border-top:2px solid #aaa;
	margin:3em 0;
}

.clear {clear:both;}
.clear1em {
	clear:both;
	height:1em;
}
.clear-space {
	clear:both;
	height:3em;
}
.clear-divider {
	clear:both;
	height:1em;
	margin-top:-1em;
}

.spacer{clear:both; height:1px;}

#blog-description {
	margin-bottom:3em;
}

.blogcontent-homepage {}

.blogteaserimgblock {
	float:left;
	width:30%;
}

.blogteaserimgblock img {}

.blogteasercontent {
    float:left;
	width:85%;
	padding-left:0;
	clear:both;
}

.blogteaserforcedminheight {
    ppmin-height: 100px;
}

.blogteasertext {
	margin:1.5em 0 2em 0;
}

.blogteaserdata {
	margin-bottom: 1em;
}

.blogteaserdata a,
.blogteaserdata a:visited {
	color:black;
}

.blogteaserdata a:hover {
	color:#39469b;
}

.blogcontent-blogpost h1 { SINGLE_POST_PAGE:;
	margin:.5em 0 .5em 0;
	font-size: 1.6em;
}

.blogcontent-blogpost .blogpostdata {display: none; } /*SINGLE_POST_PAGE:;*/

#socialbuttons {
	margin-top:-2em;
	margin-bottom:4em;
}
#socialbuttons > div {
	vertical-align:top;
}

.fb-share-button {
	margin-top: -6px;
}

.morePost,
.morePost:visited,
#load_more_button {
	ppfloat:left;
	font-family: 'Open Sans', Arial, sans-serif;
	text-transform:uppercase;
	color:white;
	padding:.5em 1.5em;
	border-radius:.5em;
	font-weight:400;

	background: #39469b;
	color:white;
}
.morePost:hover {
	color:white;
	opacity:.85;
}

.posts_head {
	min-height:5em;
	padding-left: 4.5em;
	position:relative;
	margin-bottom:1em;
}
.pubdate {
	display:inline-block;
	float:left;
	margin-left:-4.5em;
	width:3em;
	text-align:center;
	border-left:3px solid #39469b;
}
.pubdate .day {
	font-weight:600;
	font-size:1.55em;
	background:#f3f3f3;
	line-height:1.45;
}
.pubdate .month {
	font-weight:300;
	font-size:.9em;
	background:#e9e9e9;
	line-height:1.2;
	padding-bottom:5px;
}

.blog-list .pubdate {
	display:block;
	float:none;
	margin-right:4px;
}

.byline {}

.byline span {
	font-size: 0.85em;
	white-space: pre-wrap;
}
.byline img {
	 vertical-align:middle;
}

.headline {
	display:inline-block;
	position:relative;
	top:1em;
	max-width:90%;
}
.headline h1 {
	line-height:1;
}

.list-arrow {
	float:left;
	margin-right:.5em;
}
.list-arrow img {
	vertical-align:middle;
}

/* ----------- My Form ----------- */
.blog #form-page{
margin:0;
margin-bottom:-1.57em;
width:99.99%;
}
.blog h1 {}

.blog #tblComment {
	width:100%;
}

.blog #tblComment tr:first-child {
	height:50px;
}

.blog #tblComment img {
	border:1px solid #ddd;
	float:left;
	height:50px;
}

.blog #tblComment #commentlabel img {
	border:none;
	max-height:50px;
}

.blog #tblComment #commentlabel {
	height:100px;
	border:1px solid #ddd;
	float:left;
	width:50px;
}

.blog #tblComment #comment-container {
	width:68%;
	float:left;
	height:101px;

}

.blog #commentname {
	margin-right:1em;
}

.blog #tblComment input[type=text] {
	border:1px solid #ddd;
	height:52px;
	padding:5px;
	float:left;
	width:68%;
	margin-bottom: .5em;
}

.blog #tblComment textarea {
	width:100%;
	height:101px;
	padding:5px;
	border: 1px solid #ddd;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.blog #tblComment textarea {
		width:100%;
		height:102px;
		padding:5px;
		border: 1px solid #ddd;
	}
}




.blog #tblComment input, textarea {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size:1.025em;
}

.blog button{
	clear:both;
	margin:0;
	padding: .5em 1em;
	text-align:center;
	font-weight:bold;
	border:1px solid silver;
	background:white;
	color:black;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.blog button:hover {
	cursor:pointer;
	background:black;
	color:white;
}
#print-btn {
	padding: 0;
	position: relative;
	top: -.3em;
}

/* Search form */
#frmSearch {
	clear:both;
	position:relative;
	display:block;
	border:1px solid #ddd;
	background:#fff;
}
#frmSearch input[type=text] {
	width:83%;
	border:none;
	float:left;
	display:inline-block;
	height:50px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding:.8em;
	background:none; /* background set in #frmSearch */
}
#searchsubmit {
	position:absolute;
	right:0;
	top:0;
	width:50px;
	height:50px;
	border:1px solid #39469b;
	background:url('../../../../images/mag-glass.png') no-repeat center #39469b;
	opacity:1.0;
	cursor:pointer;
	float:right;
}
#searchsubmit:hover, #searchsubmit:focus, #searchsubmit:active {
	opacity:.7;
}

/*
#load_more_button {
	background:#fff;
	padding: 0 10px;
	border:3px solid #39469b;
	color:#000;
	float:left;
}
#load_more_button:hover, #load_more_button:active, #load_more_button[disabled=disabled]  {
	background:#39469b;
	color:#fff;
}
*/
.loading_image {
	width:164px;
	text-align:center;
	padding:6px 0;
}

.singlePost{color:#ae1a1a;}

.singlePost:hover {color:#000000;}

.smallDate {font-size:11px;font-weight:normal;padding-top:10px;}
.blog span#commentMsg {width: 400px;padding-left:110px; text-align:center;margin-top:20px;}

 input.singlePost,  input.singlePost:active,  input.singlePost:hover {
	border:none;
	background: none;
	font-size:1em;
	width: auto;
	margin:0;
	padding : 0;
	text-align:left;
	width:250px;
    position:relative;
    left:-3px;
}

.postTitleCat {
	display:block;
	font-size:1.2em;
	color:#000000;
	font-weight:700;
	width:100%;
	ppbackground:red;
	line-height:1.2em;
	width:100%;
	min-height:20px;
	pppadding-top:.5em;
	margin-bottom:.5em;
	text-transform:uppercase;
}

 a.postTitle {
	font-size:1.8em;
	line-height: 1.4em;
	color:#000000;
	font-weight:400;

	width: auto;
	margin:0;
	margin-top:.5em;
	padding : 0;
	text-align:left;
	height:auto;
	white-space:normal;
    position:relative;
	border:none;
	float:none;
	background: none;
}
.commentLabel {}

a.postTitle:active,
a.postTitle:hover {
	color:#39469b;
}

input.singlePost, a.postTitle {
	cursor:pointer;
}

div#comments {
	margin-top:1em;
}

div#comments strong {
	margin-left:10px;
}

div#comments em {
	font-size:.8em;
	margin-left:10px;
}

div#comments .commentpara {
	background: rgba(255, 255, 255, 0.5);
    border: 1px solid silver;
    border-radius: 10px;
	margin:5px 0 20px 0;
    padding: 15px;
}



.nameBlog {float:left;width:250px;font-size:1em; font-weight: bold; }
.dateBlog {}
.titleRow {width:500px}

.backBtn input.singlePost {float:left;width:auto;padding: 0 10px 0 0;}

div.pagination {
    margin: 3px 3px 3px -3px;
    padding: 3px;
}
div.pagination input.pagButton.dots, div.pagination input.pagButton.dots:hover, div.pagination input.pagButton.dots:active, div.pagination input.pagButton.dots.disabled {
    border: medium none;
    margin: 0;
    padding: 0;
}
div.pagination input.pagButton, div.pagination a {
    border: 1px solid #666666;
    color: #666666;
    float: none;
    font-weight: bold;
    height: 24px;
    margin: 2px;
    padding: 2px 5px;
    text-decoration: none;
	width: auto;
}

/** SIDE MENU **/

#sidebar.blog #category-list-container {
	ppfloat:left;
}

#sidebar.blog #recent-posts-container {
	ppfloat:left;
}

/*
@media all and (min-width: 550px) {
}
*/
	#sidebar.blog #category-list-container {
		float:none;
	}
	#sidebar.blog #category-list-container li {
		line-height:1;
		margin-top:0;
		margin-bottom:0;
		border-bottom:1px solid #ddd;
		padding:5px 0;
	}

	#sidebar.blog #recent-posts-container {
		float:none;
	}



#sidebar.blog h4 {
    font-weight:normal;
    margin:0 0 0px 0px;
    font-size:1em;
    text-transform:uppercase;
}

#sidebar.blog a {
    display:block;
    font-weight: normal;
    color:#303030;
    text-transform: capitalize;
}

#sidebar.blog a:hover {
    text-decoration: none;
    color : #39469b;
}

#sidebar.blog a.subpage {
    padding:4px 0 4px 0px;
}

#sidebar.blog a.subsubpage {
    width:233px;
    padding:10px 0 10px 85px;
}
#sidebar.blog h2 {
    font-weight:bold;
    margin:0px 0 10px 0px;
    text-transform:capitalize;
    color:#000;
}


#sidebar.blog h2 a.active {
    color:#707070;
}

#sidebar.blog h4 a.active {
    color:#707070;
}

ul.blog-list {
	padding:0px;
	margin:1em 0px 20px -15px;
	list-style-type:none;
}

ul.blog-list li {
	color:#000;
	position:relative;
	margin:1em 0 1.5em 1em;
}

#sidebar.blog #recent-posts-container ul.blog-list .titleline {
	display:block;
	width:90%;
	position: relative;
	margin-left: 0;
}


.blog-list .titleline .byline {
	font-size:.8em;
	position:relative;
}
.sidebarIntro {
	clear:both;
	margin:1em 0;
}

#sidebar.blog #recent-posts-container ul.blog-list li a {
	font-size:1em;
	font-weight:600;
}

@media (min-width: 1px) and (max-width: 549px) {

	.posts_head {
	padding-left: 0;
	}

	.pubdate {display: none; }

	#blog-description {
	width: 95%;
    margin-bottom: 3em;
	}

	#content_area.blog.hasSidebar #content {
	padding-left: 1em;
	padding-right: 0;
	margin-right: 0;
	float:left;
	width: 96%;
	}

	.blogteasercontent {
    float: left;
    width: 96%;
	}


}

@media (min-width: 550px) and (max-width: 899px) {


	#blog-description {
	width: 100%;
    }
	
	.blogteasercontent {
    float: left;
    width: 100%;
	}

}
