
.testyContainer {
	/*width: 100%;*/
	background: #f4f4f4;
	padding: 1.5em 1em 1em 1em;
	display: inline-block;
	border-bottom: 1px solid #e7e4e4;
	vertical-align: bottom;
	
}

.testyQuote {
	float: left;
	display: block;
	width: 32px;
	margin-right: .8em;
	
}

.testyText {
	float: left;
	width: 88%;
}

.testyName {
	
	text-align: left;
	font-weight: 400;
	font-style: normal !important;
	display: block;
	
}

.testyBiz {
	
	text-align: right;
	font-weight: 400;
	font-style: normal !important;
}


h1#testimonial-title {
}

.testyHeader {
    font-size: 1.5em;
    font-weight: 400;
    color: #404040;
    text-align: center;
	clear: both;
	margin-top: 1.5em;
    margin-bottom: .9em;
    text-transform: uppercase;
}

.testimonial {
    font-style:italic;
	
}

.testimonial.active-test {
    background-color:#fcbd11;
    padding:8px;
	border:2px solid #fcbd11;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
}

#full-test {
    text-align:left;
    margin:0;
    padding:0;
    line-height:18px;
	
}

#full-test p {
	margin:0 0 1.1em 0;
	padding:10px;
	padding-left:0px;
	
	font-size:1em;
	font-style:italic;
}

#test-info {
    text-align:left;
    margin:-0.6em 0 0 0;
    padding:0px;
    line-height:18px;
	

}


.gradient-light {
    border: 1px solid #999;
    background-color:#EEEEEE;
    
    background-image: -ms-linear-gradient(bottom, #CCCCCC 0%, #EFEFEF 50%, #CCCCCC 100%);
	/* Mozilla Firefox */
    background-image: -moz-linear-gradient(bottom, #CCCCCC 0%, #EFEFEF 50%, #CCCCCC 100%);
	/* Opera */
    background-image: -o-linear-gradient(bottom, #CCCCCC 0%, #EFEFEF 50%, #CCCCCC 100%);
	/* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #CCCCCC), color-stop(1, #EFEFEF), color-stop(2, #CCCCCC));
	/* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(bottom, #CCCCCC 0%, #EFEFEF 50%, #CCCCCC 100%);
	/* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to top, #CCCCCC 0%, #EFEFEF 50%, #CCCCCC 100%);
}

.testimonial-name {
	font-style:normal;
	margin-top:0.6em;
}

#content_area.hasSidebar #sidebar-top, #content_area.hasSidebar #sidebar-bottom {
	display:none;
}

#content_area.hasSidebar #content {
	width: 100%;
	
	float:left;
}
@media screen and (min-width: 810px) {
	#content_area.hasSidebar #sidebar-top, #content_area.hasSidebar #sidebar-bottom {
		display: block;
	}
	#content_area.hasSidebar #content {
		
		width: 64%;
		float:left;
	}
}


@media (min-width: 1px) and (max-width: 549px) {
	
	.testyContainer {
    width: 96%;
    padding: 1em 0 1em 1em;
	}
	
	.testyQuote {
    float: left;
    display: block;
    width: 50%;
	}
	
}


@media (min-width: 1px) and (max-width: 899px) {
	
	.testyHeader {
     margin-top: 1.5em;
	}
	
}










