
/*********************** STANDARD ELEMENTS ****************************/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
	font-weight:400;

}



#videoContainer {
	position: relative;
}

video { vertical-align: bottom; }


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    font-family: 'Lato', sans-serif;
	font-weight:400;
	font-style:normal;
    font-size: 17px;
    color: #777777;
    text-align: left;
    line-height:1.45em;
	overflow-x: hidden;
}

/* for the admin page editing area */
.mceContentBody { background-color: #ffffff !important; background-image:none; }


table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* GENERAL FORMATTING */

a, a:visited {
    text-decoration: none;
    color: #110a7a;
	font-weight:700;
}

a:hover, a:active {
    color: #000;
}

strong {font-weight:700}
em {font-weight:unset;}

#content ul {
	margin-bottom: 1.7em;
}

#content ul li {
	margin-left:1.7em;
	line-height: 1.6em;
}


/* Headings */
h1, h2, h3, h4, h5, h6 {
    line-height: 1.45em;
    font-weight: 700;
    color: #404040;
	margin-bottom:0.7em;
}

h1 {
    font-size: 1.8em;
	margin-bottom:.7em;
	text-transform:uppercase;
}

h1.home {
	font-size: 2.4em;
	font-weight: 700;
	color: #404040;
	margin-bottom: 0;
	margin-top: 1.5em;
	text-transform:uppercase;
	}
	
.connectHeader {
	font-size: 1.8em;
	margin-bottom:.7em;
	text-transform:uppercase;
	line-height: 1.45em;
    font-weight: 700;
    color: #404040;
}	
	
.greenHeading {
color: #40a629;
font-weight: 700;
}	

h2 {
    font-size: 1.35em;
	text-transform:uppercase;
	margin-top:1em;
}

h2.home {
	font-size: 1.85em;
	font-weight: 700;
	color: #404040;
	margin-bottom: .75em;
	margin-top: 1.5em;
	text-transform:uppercase;
}

h3 {
    font-size: 1.15em;
	color: #404040;
	text-transform: uppercase;
}


img,
embed,
object {
    max-width: 100%;
    border: 0 none;
}

video {
    width: 100%;
	height: auto;
    border: 0 none;
	
}




img.profileImg {
      float: left;
      margin: 0 1em 0 0;
      border-radius: 50%;
}

p 	{
	margin-bottom:0.75em;
}

/*********************** MAIN DIVS ****************************/

.wrap {
	
    clear: both;
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 1220px;
    min-width: 320px;
}

#top {
    min-width: 320px;
    width: 100%;
}

#middle {
    width: 100%;
    position: relative;
    min-width: 320px;
}

#bottom {
    width: 100%;
    position: relative;
    min-width: 320px;
	background-color: #e5e5e5;
}

@media (min-width: 550px) and (max-width: 899px) {
	.wrap {max-width:100%}
	#top {text-align:center;}
}
@media (max-width: 549px) {
	#top { text-align:center; }
	#bottom { }
}


/*  CONTENT */

#content_area {
	text-align: left;
	
}

@media screen and (min-width: 900px) {
	#content_area {
		padding:2em 0em 2em 0em;
	}
      #content_area.noSidebar #content {
            width: 90%;
      }
	#content, #content_area.homepage #content {
		width:66%;
		margin-right: 0;
		float:left;
	}

}
@media (min-width: 550px) and (max-width: 1265px) {
	#content_area {
		padding:2em 1em 2em 1em;
	}
	#content {
		width:66%;
		float:left;
	}

}
@media (max-width: 899px) {
	#content_area {
		padding:1em 1em 2em .5em;
	}
	#content {
		width:65%;
	}

}

/* if the section has a sidebar ... */
#content_area.hasSidebar {
      position:relative;
}
#content_area.noSidebar #content {
	width: 97%;
}

@media screen and (max-width: 900px) {
	#content_area.hasSidebar #content {
		
	}
}
@media screen and (max-width: 834px) {

	#content_area.hasSidebar #content {
		width: 67%;
	}
}

@media screen and (max-width: 549px) {

	#content_area.hasSidebar #content {
		width: 96% !important;
	}
}

#content_area.hasSidebar #sidebar-top, #content_area.hasSidebar #sidebar-bottom{
	float: right;
	width: 26%;
	
	clear: both;
}
#content_area.hasSidebar #sidebar-top{
	top: 2em;
}
#content_area.hasSidebar #sidebar-bottom{
	bottom: 1em;
}

@media screen and (max-width: 549px) {

	#content_area.hasSidebar #sidebar-top, #content_area.hasSidebar #sidebar-bottom {
		display:none;
	}
}


/* HOMEPAGE OVERRIDES */
#sidebar-home {
	background-color: #eeeeee;
	padding: 2%;
	float: right;
	margin-left: 0;
}
@media (min-width: 900px) {
	#sidebar-home {width:25%;}
}
@media (min-width: 550px) and (max-width: 899px) {
	#sidebar-home{width:26%;}
}
@media (max-width: 549px) {
	#sidebar-home {display:none;}
}


/*********************** MAIN CLASSES ****************************/

.clear { clear:both; }
.nobr, .nowr {white-space: nowrap;}
.whiteBG {background:white;}
.blackBG {background:black;}
.left {float:left;}
.right {float:right;}
.full {width:100%;}
.leftimg {clear:left; float:left;margin:.3em 2em 2em 0;font-style:italic;}
.rightimg {clear:right; float:right;margin:.3em 0 2em 2em;font-style:italic;}
.leftimg p, .rightimg p {margin:.5em 0 0 0;}
.fullimg {width:100%; margin-bottom:1em;}
.half {width:40%;}
.halfleftimg {float:left; width:48%;margin:1em 0;}
.halfrightimg {float:right; width:48%;margin:1em 0;}
.third {width:35%;}
.center {display:block;margin:2em auto;text-align:center;font-style:italic;width:auto;}
.noscale {max-width:none;}
@media (max-width: 549px) {
	.left, .right {float:none;}
	.leftimg, .rightimg {float:left;margin:2em auto;display:block;text-align:center;font-style:italic;}
	.half, .third  {width:93%;}
	.hideinmobile {display:none;}
}

/*********************** HEADER AREA **********************/


#header {
    
}

#header-contact {
	padding-top:2.5em;
	width:605px;
	float:right;
	height:140px;
	position:relative;
      text-align: right;
}

/*********************** NAVIGATION **********************/

/*** ALL TOP, SIDE, MOBILE NAVIGATION IS MOVED TO NAVIGATION.CSS **/

/*********************** CONTENT ***********************/

/* JUSTIFY FLOATING DIVS */

ul.justify {
    font-size: 0 !important;
    line-height: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: justify;
    text-justify: distribute-all-lines;
}

ul.justify:after {
    content: "";
    display: inline-block;
    width: 100%;
}

ul.justify li {
    display: inline-block;
    font-size: 1rem;
    line-height: 1rem;
    margin: 0 auto !important; this-will-center-single-objects:;
    padding: 0 !important;
}

/* (untested) IE hacks to make li's line up */
*+html ul.justify li {display: inline;}
* html ul.justify li {display: inline;}


.topBannerContainer {
	width: 100%;
	background: #110a7a;
	padding: 1.5em 0;
	display: inline-block;
	vertical-align: bottom;
}

.needToShipSomething {
	float: left;
	width: 26%;
	font-size: 1.4em;
	font-weight: 400;
	color: #ffffff;
	margin-left: 2%;
	margin-top: .55em;
	
}

.requestQuoteButton {
	float: left;
	font-size: 1em;
	font-weight: 400;
	color: #ffffff;
	width: 18%;
	min-width: 230px;
	text-align: center;
	padding: .8em 0;
	border: 2px solid #ffffff;
	margin-right: 3%;
	
}

.requestQuoteButton:hover {
	background: #40a629;
	border: 2px solid #40a629;
}

.callUsTwoFourSeven {
	float: left;
	width: 21%;
	font-size: 1.4em;
	font-weight: 400;
	color: #ffffff;
	margin-right: 3%;
	margin-top: .55em;
	
}

.topBannerCallUs {
	float: left;
	width: 17.5%;
	margin-top: .68em;
	
}

.topBannerCallUs  a {
	font-size: 1.4em;
	font-weight: 400;
	color: #ffffff;
}

.topBannerCallUs  a:hover {
	color: #40a629;
}

.topBannerCallUs img {
	
}

.topBannerCallUsIcon {
	float: left;
	margin-top: .77em;
	margin-right: .7em;
	width:25px;
}

.topBannerCallUsIcon img {
	vertical-align: bottom;
}


/******top banner views************/

@media (min-width: 1px) and (max-width: 549px) {
	
	.topBannerContainer {
     padding: .8em 0;
	}
	
	.needToShipSomething {
    display: none;
    }
	
	.requestQuoteButton {
    display: none;
	}
	
	.callUsTwoFourSeven {
    display: none;
    }
	
	.topBannerCallUsIcon {
    display: none;
	}
	
	.topBannerCallUs {
    display: none;
    }
	
	.topBannerCallUs a {
    font-size: 1.15em;
    }
	
	.topBannerContent {
	width: 94%;
	font-size: 1.13em;
	color: #ffffff;
	text-align: center;
	margin: 0 auto;
	line-height: 1.4em;
	}
	
	.topBannerContainer .topBannerContent  a {
	/*font-size: 1.4em;*/
	font-weight: 400;
	color: #ffffff;
	}

	.topBannerContainer .topBannerContent  a:hover {
	color: #40a629;
	}
	
	.topBannerContent img {
		width: 15px;
		margin-right: 2px;
		margin-left: 6px;
	}
	
	
}	

@media (min-width: 550px) and (max-width: 899px) {
	
	.topBannerContainer {
     padding: 1.15em 0;
	}
	
	.topBannerContent br {
     display: none;
	}
	
	.needToShipSomething {
    display: none;
    }
	
	.requestQuoteButton {
    display: none;
	}
	
	.callUsTwoFourSeven {
    display: none;
    }
	
	.topBannerCallUsIcon {
    display: none;
	}
	
	.topBannerCallUs {
    display: none;
    }
	
	.topBannerCallUs a {
    font-size: 1.15em;
    }
	
	.topBannerContent {
	width: 100%;
	font-size: 1.13em;
	color: #ffffff;
	text-align: center;
	}
	
	.topBannerContainer .topBannerContent  a {
	/*font-size: 1.4em;*/
	font-weight: 400;
	color: #ffffff;
	}

	.topBannerContainer .topBannerContent  a:hover {
	color: #40a629;
	}
	
	.topBannerContent img {
		width: 15px;
		margin-right: 2px;
		margin-left: 6px;
	}
	
	.topBannerContent img {
		width: 15px;
		margin-right: 2px;
		margin-left: 6px;
	}
	
	
}	

@media (min-width: 900px) and (max-width: 1045px) {

	.needToShipSomething {
    width: 26%;
    font-size: 1.2em;
    margin-left: 2%;
    margin-top: .55em;
    }
	
	.callUsTwoFourSeven {
    width: 18.5%;
    font-size: 1.2em;
    margin-right: 2.5%;
    margin-top: .55em;
    }
	
	.topBannerCallUsIcon {
    width: 23px;
	}
	
	.topBannerCallUs {
    width: 15.6%;
	}
	
	.topBannerCallUs a {
    font-size: 1.2em;
    }
	
	.requestQuoteButton {
    font-size: 1em;
    width: 18%;
    padding: .65em 0;
   	}

}











.shippersCarriersDispatchContainer {
	width: 90%;
	margin: 0 auto 2em auto;
	
	
}

.shippersCarriersDispatchIconBox {
	float: left;
	width: 33%;
	text-align: center;
	
	
}

.shippersCarriersDispatchTitle {
	text-transform: uppercase;
	line-height: 1.2em;
}

.shippersCarriersDispatchIcon {
	margin-bottom: .7em;
}




.shippersPointer {
	color: #40a629;
	font-weight: 700;
	font-size: 110%;
}

.shippersCarriersDispatchTitle a {
	font-size: 1.8em;
	font-weight: 700;
	color: #000000;
}

.shippersCarriersDispatchTitle a:hover {
	color: #110a7a;
}

.homeSeparator {
	width: 100%;
	padding-top:  .65em;
	border-bottom: 1px solid #404040;
	margin-bottom: 1.2em;
}

.midSeparator {
	width: 100%;
	padding-top:  1.65em;
	border-bottom: 1px solid #404040;
	margin-bottom: 1.2em;
}

.missionStatementContainer {
	width: 93%;
	text-align: center;
	margin: 0 auto;
}

.missionStatementContainer p {
	/*font-size: 1.1em;
	font-weight: 700;*/
	
	
}

.relationshipServiceIntegration {
	width: 100%;
	margin: 2em auto 0 auto;

}

.rsiBoxes {
	float: left;
	width: 27%;
	padding: 0 3%;
	text-align: center;
	
}

.rsiBoxesIcon {
	display: block;
	margin: 0 auto .7em auto;
	text-align: center;
	
}

.rsiBoxesTitle {
	font-size: 1.7em;
	font-weight: 400;
	color: #323232;
	text-align: center;
	margin-bottom: .6em;
	text-transform: uppercase;
}

.rsiBoxesText {
	text-align: center;
}

.truckloadLtlContainer {
	width: 100%;
	background: #f7f7f7;
	display: inline-block;
	margin-top: 1em;
	vertical-align: bottom;
}

.truckloadLtltext {
	float: left;
	width: 50%;
	
	}
	
.truckloadLtlContent {
padding: 3em 2em;
}	

.truckloadLtlPicRight {
	float: left;
	width: 50%;
	}

.truckloadLtlPicRight img {
	vertical-align: bottom;
}

.truckloadLtlButton {
	float: left;
	text-align: center;
	margin-top: 1.2em;
}


.truckloadLtlButton a {
	padding-top: 15px;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-left: 40px;
	border: 2px solid #110a7a;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 400;
	color: #00aa00;
	text-transform: uppercase;
}

.truckloadLtlButton a:hover {
	background: #110a7a;
	color: #ffffff;
}

@media (min-width: 1px) and (max-width: 1100px) {
	
	.truckloadLtltext {
	float: none;
	width: 100%;
	padding-bottom: 2em;
	}
	
	.truckloadLtlContent {
	padding: 1.2em 1em 3em 1em;
	}	

	.truckloadLtlPicRight {
	float: none;
	width: 100%;
	clear: both;
	}
	
	
}



/******non asset based*************/

.nonAssetBasedContainer {
	width: 100%;
	background: #110a7a;
	display: inline-block;
	margin-top: 0;
	vertical-align: bottom;
	
}

.nonAssetBasedtext {
	float: left;
	width: 50%;
	}
	
.nonAssetBasedContent {
padding: 3em 2em;
}	

.nonAssetBasedContent h3 {
	color: #ffffff;
}

.nonAssetBasedContent p {
	color: #ffffff;
}

.nonAssetBasedPicLeft {
	float: left;
	width: 50%;
	}

.nonAssetBasedPicLeft img {
	vertical-align: bottom;
}

.nonAssetBasedButton {
	float: left;
	text-align: center;
	margin-top: 1.2em;
}


.nonAssetBasedButton a {
	padding-top: 15px;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-left: 40px;
	border: 2px solid #00aa00;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 400;
	color: #ffffff;
	text-transform: uppercase;
}

.nonAssetBasedButton a:hover {
	background: #00aa00;
	color: #ffffff;
}

@media (min-width: 1px) and (max-width: 1100px) {
	
	.nonAssetBasedContainer {
    padding-bottom: 1.2em;
}
		
	.nonAssetBasedPicLeft {
    float: none;
    width: 100%;
	clear: both;
	}
	
	.nonAssetBasedPicLeft img {
    width: 100%;
	}
	
	.nonAssetBasedtext {
    float: none;
    width: 100%;
	clear: both;
	padding-bottom: 3em;
	}
	
	.nonAssetBasedContent {
    padding: 1.2em 1em;
	}
	
}

.seamlessCarrierContainer {
		width: 100%;
		background: #f7f7f7;
		display: inline-block;
		border-bottom: 1px solid #eeecec;
		vertical-align: bottom;
		padding-bottom: 1.2em;
	}
	
	

.seamlessCarriertext {
	float: left;
	width: 50%;
	
	}
	
	
	
.seamlessCarrierContent {
padding: 3em 2em;
}	

.seamlessCarrierContent2 {
padding: 3em 2em 1.5em 2em;
}

.seamlessCarrierPicRight {
	float: left;
	width: 50%;
	}

.seamlessCarrierPicRight img {
	vertical-align: bottom;
	margin-top: 4%;
}

@media (min-width: 1px) and (max-width: 1100px) {
	.seamlessCarriertext {
		float: left;
		width: 100%;
		
		}
		
	.seamlessCarrierContent, .seamlessCarrierContent2  {
	padding: 1.2em;
	}	

	.seamlessCarrierPicRight {
		float: left;
		width: 100%;
		}

	.seamlessCarrierPicRight img {
		vertical-align: bottom;
	}

}













.greySeparatorLine {
	clear: both;
	padding-top: 1.2em;
	border-bottom: 1px solid #d6d5d5;
	margin-bottom: 1.2em;
}


.servicesPointsContainer {
	width: 100%;
	margin: 2.5em auto 0 auto;
}

.servicesPointsBoxes {
	float: left;
	width: 27%;
	padding: 0 3%;
	text-align: center;
	
}

.servicesPointsBoxesIcon {
	display: block;
	margin: 0 auto .35em auto;
	text-align: center;
	
}

.servicesPointsBoxesTitle {
	font-size: 1.15em;
	font-weight: 400;
	color: #323232;
	text-align: center;
	margin-bottom: .6em;
	text-transform: uppercase;
}

.servicesPointsBoxesText {
	text-align: center;
}


/**********shippers points***********/


.shippersPointsContainer {
	width: 100%;
	margin: 2.5em auto 0 auto;
}

.shippersPointsBoxes {
	float: left;
	width: 20%;
	padding: 0 2.3%;
	text-align: center;
	
}

.shippersPointsBoxesIcon {
	display: block;
	margin: 0 auto .35em auto;
	text-align: center;
	
}

.shippersPointsBoxesTitle {
	font-size: 1.15em;
	font-weight: 400;
	color: #323232;
	text-align: center;
	margin-bottom: .6em;
	text-transform: uppercase;
}

.shippersPointsBoxesText {
	text-align: center;
}


.carriersButton {
	width: 370px;
	text-align: center;
	margin: 2.2em auto 2em auto;
}


.carriersButton a {
	padding-top: 13px;
    /*padding-right: 40px;*/
    padding-bottom: 13px;
    /*padding-left: 40px;*/
	border: 2px solid #110a7a;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 400;
	color: #00aa00;
	text-transform: uppercase;
	display: block;
}

.carriersButton a:hover {
	background: #110a7a;
	color: #ffffff;
}




/* Contact Page */

.formChoicesContainer {
	width: 100%;
	margin-bottom: 1.3em;
	border: 0;
	display: inline-block;
	line-height: 1.75em;
}

.formChoicesL {
	float: left;
	width: 47%;
	margin-right: 4%;
}


.formChoicesR {
	float: left;
	width: 47%;
	
}

#contentContact {
float: right;
width:59%;
margin-right: 0;
}


#sidebarContact {
    width: 36%;
    float: left;
    margin-top: 0;
	/*margin-left: 2em;*/
}

.contactLeft {
	float: left;
	width: 30%;
	clear: both;
}

.contactRight {
	float: right;
	width: 67%;
	margin-bottom: 2.5em;
}

@media (min-width: 1px) and (max-width: 549px) {

	

	#contentContact {
	float: left;
	width:94%;
	margin-left: 0;
	}
	
	
	
	#sidebarContact {
	width: 90%;
	padding-top: 0;
	margin: 0 auto;
	clear: both;
	float: left;
	margin-bottom: 2em;
	margin-top: 1em;
	}
	
	.contactLeft {
	float: left;
	width: 96%;
	clear: both;
	}

	.contactRight {
	float: left;
	width: 96%;
	margin-bottom: 1.5em;
	clear: both;
	}
	
	.formChoicesL {
    width: 100%;
	}
	
	.formChoicesR {
    width: 100%;
	}
	
}

@media (min-width: 550px) and (max-width: 899px) {
	
	.contactLeft {
	float: left;
	width: 85%;
	clear: both;
	}

	.contactRight {
	float: left;
	width: 96%;
	margin-bottom: 1.5em;
	clear: both;
	}
	
	#contentContact {
	width:95%;
	float:left;
	}
	
	#sidebarContact {
	width:95%;
	float:left;
	padding-top: 1.5em;
	margin-top: 2em;
	clear: both;
	margin-left: 0;
	}

}

@media (min-width: 900px) and (max-width: 1140px) {

	#sidebarContact {margin-left: 1em; }

}

#inquiry label {font-weight: 600; }


#inquiry form#contact_form{
	ppborder-bottom:3px solid #ddd;
	pppadding-left:1em;
	ppmargin:0 -10px 1em -10px;
	ppheight:2.5em;
	
}
#inquiry table {
	ppwidth:100%;
}
#inquiry td {
	pppadding:1em 1em;
}
#inquiry input[type=text], #inquiry input[type=radio],
#inquiry textarea {
	width:100%;
	background: #ffffff;
	
	padding: .8em;
	margin:0 0 1rem 0;
	vertical-align:middle;
	border:1px solid #c0c0c0;
    font-family: 'Lato', sans-serif;
	font-weight:400;
	font-style:normal;
    font-size: 15px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#inquiry .selectType  {
width:100%;
	ppheight:2em;
	pppadding-left:1em;
	padding:1rem;
	margin:0 0 1rem 0;
	vertical-align:middle;
	border:1px solid #c0c0c0;
	color: #757579 !important;
    font-family: 'Lato', sans-serif;
	font-weight:400;
	font-style:normal;
    font-size: 15px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 1.8em;
}

#inquiry .selectType select {
color: #757579;
padding: .4em 0;
}


#inquiry input[type=submit] {
	ppfloat:right;
	ppmargin-right:-1em;
}

#inquiry textarea {
	min-height:15em;
}
#inquiry label {
	ppvertical-align:middle;
}
#inquiry table tr td:first-child {
	ppwidth:20%;
	
}
#inquiry input.formerror {
	ppborder-color:red;
}

#button {
	font-family: 'Lato', sans-serif;
	padding:1rem 2rem;
    text-transform: uppercase;
	font-size:1.15em;
	border:none;
	background:#404040; 
	color: #ffffff;
	font-weight:500;
	margin:1rem 0 0 0;
	letter-spacing: 1px;
}

#button:hover {
	background:#110a7a;
color: #ffffff;	
	cursor: pointer;
}


.major, .major span {
	font-weight:800;
	font-size:1.15em;
	color:#444444;
	margin-bottom:1.8em;
	font-family: 'Lato', sans-serif;
}

#call-to-action {
	text-align:center;
	width:94%;
	background:#eaeaea;
	margin-left:3%;
	margin-bottom:1.5em;
	padding-top:1.5em;
}

.sub-heading {
	font-size:1.1em;
	font-weight:700;
	margin-top:1.5em;
	margin-bottom:0.3em;
}
/********* HOME PAGE ****************/


/************************ FOOTER **********************/

#footer {
	xheight:350px;
    margin: 0 auto;
	color:#000000;
	
	font-size:0.85em;
}

#footer h3 {
	font-size: 1.2em;
	font-weight:700;
	color: #727272;
	margin-bottom:.8em;
	text-transform: uppercase;
	}
	
#footer h3.extraMargin {
	font-size: 1.2em;
	font-weight:700;
	color: #727272;
	margin-top: 1.35em;
	text-transform: uppercase;
	}	
	
	

#footer-col1 {
	float:left;
	margin-top:2.5em;
	margin-bottom: 2em;
	}

#footer-col2 {
	float:left;
	margin-top:2.5em;
	margin-bottom: 2em;
	}

#footer-col3 {
	float:left;
	margin-top:2.5em;
	margin-bottom: 2em;
	max-width: 262px;
	
}

#footer a {
	color:#727272;
}

#footer a:hover {
    color:#40a629;
}

#footer p {margin-bottom:0.4em;}

.footerOrgLogo {
	text-align: center;
	margin-bottom: .5em;
}

/*.footerOrgLogo img {
	max-width: 262px;
}*/

.smIcons {
	display: inline-block;
	margin-top: 1em;
}

.smIcon {
	float: left;
	margin-right: .75em;
}

.smIcon img {
	width: 20px;
	height: 20px;
	padding: .4em;
	margin-bottom: .6em;
	background: #b3b3b3;
	border: 1px solid #b3b3b3;
	border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;

	
	
	
}

.smIcon img:hover {
	background: #828282;
	border: 1px solid #828282;
}

.upArrow {
	float: right;
}

.upArrow img {
	padding: .8em .8em 1em .8em;
	background: #bebebe;
}

.upArrow img:hover {
	background: #8e8e8e;
}

.copyright {
	background-color:#000000;
	height:22px;
	padding:7px;
	font-size:0.9em;
}


/*********************** MEDIA QUERIES **********************/

@media (min-width: 1px) and (max-width: 549px) {
	
	h1 {
    font-size: 1.6em;
    margin-bottom: .7em;
    text-transform: uppercase;
    line-height: 1.1em;
	}
	
	.carriersButton {
	width: 300px;
	text-align: center;
	margin: 2.2em auto 2em auto;
	}


.carriersButton a {
	padding-top: 13px;
    /*padding-right: 40px;*/
    padding-bottom: 13px;
    /*padding-left: 40px;*/
	border: 2px solid #110a7a;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 400;
	color: #00aa00;
	text-transform: uppercase;
	display: block;
	}
	
	#content_area {
    padding: 1em 0 2em .5em;
	width: 96%;
	}
	
	.shippersCarriersDispatchContainer {
    display: none;
    }
	
	h1.home {
    font-size: 1.6em;
    line-height: 1.2em;
	margin-top: .5em;
	}
	
	h2.home {
    font-size: 1.6em;
    margin-bottom: .75em;
    margin-top: 1em;
    line-height: 1.15em;
	}
	
	.missionStatementContainer p {
    font-size: 1em;
	text-align: left;
	}
	
	.rsiBoxes {
    float: left;
    width: 95%;
    padding: 0;
    text-align: center;
    margin-bottom: .7em;
	}
	
	.rsiBoxesIcon {
    display: block;
    margin: 0 auto .2em auto;
    text-align: center;
	}
	
	.servicesPointsBoxesIcon {
    display: block;
    margin: 0 auto .2em auto;
    text-align: center;
	}
	
	.servicesPointsBoxes, .shippersPointsBoxes {
    float: left;
    width: 95%;
    padding: 0;
    text-align: center;
	margin-bottom: .7em;
    
	}

	

	#header-logo {
		float: none;
		margin: 0 auto;
		width: 285px;
		text-align:center;
		padding-top:1em;
		padding-bottom:1em;
	}

	

	#header-contact {
		display:none;
	}

	#footer-col1 {width:40%;}
	#footer-col2 {display:none;}
	#footer-col3 {width:40%;}

	#section1, #section2 {
		text-align:center;
		width:100%;
		margin-bottom:1em;
	}

	.column1 {
		clear:both;
	}

	.column2 {
		display:none;
	}
	
	#footer-col1 {
	width:85%;
	margin-top: 1.5em;
	margin-right:0;
	margin-bottom: .5em;
	margin-left: 1em;
	
	}

	#footer-col2 {
	width:31%;
	margin-top: 1.5em;
	margin-right:0;
	margin-bottom: 0;
	
	}
	
	#footer h3.extraMargin {
    margin-top: 1em;
    }

	#footer-col3 {
	display: none;
	
	}
	
	#footer h3 {
    margin-bottom: .3em;
    }
	
	.smIcons {
    margin-top: .6em;
	}
	
	.upArrow {
    float: right;
    margin-right: 3.5%;
	}

	

}


@media (min-width: 550px) and (max-width: 899px) {
	
	.upArrow {
    float: right;
    margin-right: 3.5%;
	}
	
	.rsiBoxesIcon {
    display: block;
    margin: 0 auto .2em auto;
    text-align: center;
	}
	
	.rsiBoxes {
    float: left;
    width: 95%;
    padding: 0;
    text-align: center;
	margin-bottom: .7em;
    
	}
	
	.servicesPointsBoxesIcon {
    display: block;
    margin: 0 auto .2em auto;
    text-align: center;
	}
	
	.servicesPointsBoxes, .shippersPointsBoxes {
    float: left;
    width: 95%;
    padding: 0;
    text-align: center;
	margin-bottom: .7em;
    
	}
	
	
	
	.missionStatementContainer p {
    font-size: 1em;
	}
	
	h2.home {
    font-size: 1.6em;
    
    margin-bottom: .75em;
    margin-top: 1em;
    line-height: 1.15em;
	}
	
	.leftimg {
    margin: .3em 1em 1em 0;
    }
	
	h1.home {
    font-size: 1.9em;
    margin-bottom: 0;
    margin-top: 1em;
    line-height: 1.2em;
	}
	
	.shippersCarriersDispatchContainer {
    width: 100%;
    margin: 0 auto 1em auto;
    }
	
	.shippersCarriersDispatchTitle a {
    font-size: 1.5em;
    }
	
	.shippersCarriersDispatchIconBox {
    width: 31%;
	margin-right: 1.5%;
	}
	
	.headerRight {
    width: 100%;
	clear: both;
    margin-top: 0;
	}

	#header-logo {
		float: none;
		padding-top:1em;
		padding-bottom:1em;
		width: 100%;
		margin: 0 auto;
	}
	#header-contact {
		display:none;
	}

	#rotating-banner {
		
	}

	#section1 {width:60%}
	#section2 {width:39%}

	.column1 {
		width:100%;
	}

	.column2 {
		display:none;
	}
	
	#footer-col1 {
	width:55%;
	margin-top: 1.5em;
	margin-right:6%;
	margin-bottom: .5em;
	margin-left: 1em;
	
	}

	#footer-col2 {
	width:31%;
	margin-top: 1.5em;
	margin-right:0;
	margin-bottom: 0;
	
	}
	
	#footer h3.extraMargin {
    margin-top: 1em;
    }

	#footer-col3 {
	clear: both;
	width:79%;
	margin-top: 0;
	margin-left: 1em;
	max-width: 300px;
	
	
	}
	
	.smIcons {
    margin-top: .6em;
	}
}


@media (min-width: 900px) {
	
	.topBannerContent {
		display: none;
	}
	
	.mobile-phone {display:none; }

	#rotating-banner {
		display:block;
		
	}

	#rotating-banner img {width:100%}

	#header-logo {
		float:left;
		width: 37%;
		padding-top:1em;
		padding-bottom:.6em;
		
	}
	
	.headerRight {
		float: right;
		width: 60%;
		margin-top: 2.2em;
		
	}
	
	#footer-col1 {
	width:34%;
	margin-right:9%;
	
	}

	#footer-col2 {
	width:22%;
	margin-right:9%;
	
	}

	#footer-col3 {
	width:29%;
	
	
	}

	.column1 {
		width:50%;
		float:left;
	}

	.column2 {
		width:49%;
		float:right;
	}
}

.width25{
	max-width:25%;display:block;
}
.width50{
	max-width:50%;display:block;
}
.width75{max-width:75%;display:block;}


.showFull {
	
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.html) no-repeat;
    background-size: cover; 

}


@media (min-width: 900px) and (max-width: 1231px) {
	
	#header-logo {
    float: left;
    width: 225px;
    padding-top: 1em;
    padding-bottom: .6em;
   margin-left: .7em;
	}

	.headerRight {
    float: right;
    width: 71%;
    margin-top: 1em;
    }

	#footer-col1 {
    width: 34%;
    margin-right: 5%;
    margin-left: 1em;
	}
	
	#footer-col2 {
    width: 22%;
    margin-right: 4%;
    }
	
	.upArrow {
    float: right;
	margin-right: 3.5%;
	}


}

/* in-content accordions*/

.accordionContainer {
	width: 100%;
	clear: both;
	margin: 2em 0 0 0;
	display: inline-block;
}

.accordionContainerLessMargin {
	width: 100%;
	clear: both;
	margin: 0 0 2em 0;
	display: inline-block;
}

.accordionTrigger {
clear: both;


margin-bottom: 0;
margin-top: 1em;
text-transform: uppercase;
cursor: pointer;
background: #eee;
padding: .9em 1em .9em 1em;

display: inline-block;
width: 100%;
}

.accordionTitle {
	float: left;
	width: 81%;
	font-size: 1.1em;
	font-weight: 600;
	color: #404040;
	line-height: 1.25em;
}



.accordionArrowRight {
	margin-left: 1em;
	color: #110a7a;
	float: right;
	font-size: 2em;
}
.accordionArrowDown {
	margin-left: 1em;
	color: #110a7a;
	float: right;
	font-size: 2em;
}
.accordion.closedaccordion {
	display: none;
	margin-top: 1.2em;
	width: 91%;
	margin-left:3%;
}

@media (min-width: 1px) and (max-width: 549px) {
	
	.accordionTrigger {
		width: 92%;
		}
		
	.accordionTitle {
    width: 77%;
	font-size: .98em;
	}	
	
}


@media (min-width: 550px) and (max-width: 899px) {
	
	.accordionTrigger {
		width: 95%;
		}
		
	.accordionTitle {
    width: 82%;
	font-size: 1em;
	}	
	
}




