/*
#003375; HILIGHT_BG:;
#fff; HILIGHT_TXT:;
#eee; Sub_LEVEL_BG:;

#524656; DARK_GREY:;
*/
/* ALL NAVIGATION STYLES IN THIS FILE (TOPMENU, SIDEMENU, MOBILE) */
/* THIS FILE PROVIDES TOUCHSCREEN SUPPORT WITHOUT SPRY AND MENUS FOR GRANDCHILDREN */

#topNav,
#sideNav {
	display:block;
	position:relative;
	vertical-align:bottom;
}

#topNav *,
#sideNav * { ALL_UNDER:;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#topNav ul,
#sideNav ul { ALL_UL_UNDER:;
	list-style-type: none;
}
.topSubA, .topGchildA {
	cursor: pointer;
}

/* ***************************************** */
/* ***************************************** */
/* ****************   TOP   **************** */
/* **************** DESKTOP **************** */
/* ****************         **************** */
/* ***************************************** */
/* ***************************************** */

@media screen and (min-width:900px){

	#topNav { WBTM_SPECIFIC_USUALLY_NOT_NEEDED:;
		padding:.5em 1em;
		float: right;
		/*width: 95%;*/
		
	}
	#mobileMenu {
		display:none;
	}
	#topMenu {
		display: block;
	}

	#XXXXXXXXXXXXXXXX_topRow_XXXXXXXXXXXXXXXX{}
	.topRowUL {
		position:relative;
		ppfloat:left;
		width:100%;
		
		margin:0;
		padding:0;
		text-align: right;
	}
	.topRowLI { BG_OK_BUT_USE_FONT_STYLING_MARGIN_PADDING_WITH_topRowA_INSTEAD:;
		display:inline-block;
		position:relative;
		vertical-align:bottom;
		margin: 0 0 0 .9em;
		padding:0;
		border-bottom: 3px solid transparent;
	}
	.topRowLI.markedGroup{
		/*background:#003375; HILIGHT_BG:;*/
		color: #000000;
		border-bottom:3px solid #40a629;
	}
	.topRowLI.thisIsThePage{}

	.topRowA,
	  .topRowA:visited,
	  .isMobile .topArrow {
		display:block;
		text-align:center;
		color:#000000; DARK_GREY:;
		text-transform:uppercase;
		font-weight:700;
		font-size: 87%;
		white-space:nowrap;
		ppfont-size:inherit; INHERIT_BODY:;
		ppline-height:inherit; INHERIT_BODY:;
		border-bottom: 3px solid transparent;
		margin:0;
		padding: 0.5em .5em 0 .5em;
		text-decoration:none;
	}
	.isMobile .topRowA,
	  .isMobile .topRowA:visited,
	  .isMobile .topArrow 	{
		font-size:.85em; TABLET_NEED_SMALLER_FONT_TO_FIT_ARROWS:;
		padding: 0.5em .8em 0.5em 1em;
	}
	.topRowA.markedGroup {
		color:#40a629; HILIGHT_TXT:;
		
	}
	.topRowA.thisIsThePage {}



	.notMobile .topArrow  { ACTIVATE_isMobile_IN_inc-top-menu_php_TO_CHECK:;
		display:none;
	}
	.isMobile .topRowLI.withArrow { REMEMBER_THIS_IS_THE_LI_NOT_THE_A:;
		padding-right:2em; SPACE_FOR_topArrow:;
	}
	.isMobile .topRowA.withArrow {
		padding-right:0;
	}
	.isMobile .topArrow { OVERRIDES_topRowA_SHARED_SETTINGS:;
		text-align:center;
		padding-left:0 !important;
		padding-right:0 !important;

		position:absolute;
		right:0;
		top:0;
		width:2em;
	}
	.isMobile .topArrow.markedGroup {
		color:#fff; HILIGHT_TXT:;
	}


	.topRowLI:hover,
	  .topRowLI.arrowClicked {
		border-bottom: 3px solid #40a629;
		HILIGHT_TXT_SET_IN_A:;
	}
	.topRowLI:hover .topSubUL {
		SHOW_HIDE_TOGGLE_ALSO_THROUGH_JQ_TO_STORE_VALUE:;
		display:block; FASTER_THAN_JQ:;
	}
	.topRowLI:hover .topRowA,
	  .topRowLI:hover .topArrow,
	  .topRowLI.arrowClicked .topRowA,
	  .topRowLI.arrowClicked .topArrow { ALSO_SHOWS_WHILE_HOVER_topSub:;
		HILIGHT_COLOR_SET_IN_LI:;
		color:#40a629; HILIGHT_TXT:;
	}
	.topRowA:hover {}
	.topRowA.markedGroup:hover  {}
	.topRowA.thisIsThePage:hover  {}



	#XXXXXXXXXXXXXXXX_topSub_XXXXXXXXXXXXXXXX{}
	.topSubUL {
		display:none;

		position:absolute;
		width:18em;
		background:#f5f5f5; Sub_LEVEL_BG:;
		color:#000000; DARK_GREY:;
		z-index:12345; HAS_TO_OVERLAP_GALLERY:;
		

		border-top:none;
		
		margin:0;
		padding:0;
	}
	.topSubUL.rightAlign { JQ_CALCULATED:;
		right:0; WILL ALIGN_WITH_topRowLI_RIGHT:;
	}

	.topSubLI {
		margin:0;
		padding:0;
		position:relative; FOR_ARROW_POSITIONING:;
		border-bottom: 1px solid #ffffff;
	}
	.topSubLI.markedGroup{
		background:#044292; HILIGHT_BG:;
	}
	.topSubLI.thisIsThePage{}

	.topSubA,
	  .topSubA:visited,
	  .subArrow {
		display:block;
		text-align:left;
		color:#000000; DARK_GREY:;
		font-weight:400;
		ppfont-size:1em;
		ppwhite-space:nowrap;
		text-transform:capitalize;
		text-decoration:none;

		margin:0;
		padding:.5em .5em .5em 1em;
	}
	.topSubA.markedGroup  {
		color:#fff; HILIGHT_TXT:;
		
	}
	.topSubA.thisIsThePage{}



	.topSubLI.withArrow {}
	.topSubA.withArrow {
		padding-right:3em; SAME_AS_subArrow_WIDTH:;
	}
	.subArrow { MUCH_FROM_topSubA:;
		text-align:center;
		padding-left:0;
		padding-right:0;

		position:absolute;
		right:0;
		top:0;
		width:3em; SAME_AS_topSubA_withArrow_PADDING_RIGHT:;
		ppbackground:#eee; Sub_LEVEL_BG:;
		cursor:pointer; THIS_IS_NOT_A_LINK:;
		ppborder-left:1px solid #524656;
		ppborder-top-left-radius: 1.5em;
	}
	.topSubLI.markedGroup .subArrow {
		ppbackground:#003375; HILIGHT_BG:;
		color:#fff; HILIGHT_TXT:;
		ppborder-left:1px solid #fff;
	}
	.topSubLI.thisIsThePage .subArrow {
		ppbackground:#eee; Sub_LEVEL_BG:; OVERRIDE_MARKEDGROUP:;
		ppcolor:#524656; DARK_GREY:;
	}




	.topSubLI:hover {
		background:#003375; HILIGHT_BG:;
	}
	.topSubLI:hover .topSubA,
	  .topSubLI:hover .subArrow {
		color:#fff; HILIGHT_TXT:;
		ppborder-left:1px solid #fff;
	}
	.topSubA:hover {}
	.topSubA.markedGroup:hover  {}
	.topSubA.thisIsThePage:hover  {}
	.subArrow:hover,
	  .subArrow.arrowClicked {
		ppbackground:#ddd !important; Gchild_LEVEL_BG:; OVERRIDE_ALL:;
		ppcolor:#524656 !important; DARK_GREY:;
	}



	#XXXXXXXXXXXXXXXX_topGchild_XXXXXXXXXXXXXXXX{}
	.topGchildUL {
		display:none; SHOW_BY_JQ_slideDown:;
		background:#ddd; Gchild_LEVEL_BG:;

		width:100%;
		margin:0;
		padding:0;
	}

	.topGchildLI {
		margin:0;
		padding:0;
	}
	.topGchildLI.markedGroup{}
	.topGchildLI.thisIsThePage{}

	.topGchildA,
	.topGchildA:visited {
		display:block;
		text-align:left;
		color:#524656; DARK_GREY:;
		font-weight:400;
		ppfont-size:inherit;
		ppwhite-space:nowrap;

		margin:0;
		padding: .5em .5em .5em 1.5em;
		text-decoration:none;
	}
	.topGchildA.markedGroup  {
		background:#003375; HILIGHT_BG:;
		color:#fff; HILIGHT_TXT:;
	}
	.topGchildA.thisIsThePage{}



	.topGchildLI:hover {}
	.topGchildA:hover {
		background:#003375; HILIGHT_BG:;
		color:#fff; HILIGHT_TXT:;
	}
	.topGchildA.markedGroup:hover  {}
	.topGchildA.thisIsThePage:hover  {}

}

@media (min-width:900px) and (max-width:1070px) {
	.topSubUL {
		width:16em;
	}
}

/*@media (min-width:991px) and (max-width:1070px) {
	
	#topNav {
    margin-top: 1.8em;
	}

	
	.topRowLI {
		margin: 0 0 0 1em;
	}
	
	.topRowA,
	  .topRowA:visited,
	  .isMobile .topArrow 	{
		font-size:.94em;
		
	}
	.topSubA,
	  .topSubA:visited,
	  .subArrow {
		font-size:.94em;
	}
	.topGchildA,
	  .topGchildA:visited 	{
		font-size:.94em;
	}
} */

@media (min-width:900px) and (max-width:990px) {
	
	#topNav {
    margin-top: 0;
	}
	
	.topRowLI {
		margin: 0 0 0 .7em;
	}
	
	.topRowA,
	  .topRowA:visited,
	  .isMobile .topArrow 	{
		font-size: .82em;
		padding: 0.3em .5em 0 .3em;
	}
	.topSubA,
	  .topSubA:visited,
	  .subArrow {
		font-size: .8em;
	}
	.topGchildA,
	  .topGchildA:visited 	{
		font-size: .8em;
	}
}

/* **************************************** */
/* **************************************** */
/* ****************  TOP   **************** */
/* **************** MOBILE **************** */
/* ****************        **************** */
/* **************************************** */
/* **************************************** */

@media screen and (max-width:899px){
	#topNav {
		position:relative;
		clear:both; IF_FLOATS_ABOVE:;
	}
	#mobileMenu { HAS_OVERRIDE_AT_615:;
		display:block;
		width:100%;
		float:right;
		position:relative;
		clear:both;


		
		background: #e6e6e6;

		cursor:pointer; JUST_IF_DESKTOP:;
		font-size:1.2em;
		font-weight:600;
		color:#000000;
		text-align: right;
		text-transform: capitalize;
		overflow:hidden;
		white-space:nowrap;
		text-overflow:ellipsis; FOR_LONG_TEXTS:;

		margin: 0 0 0 0;
		padding:0.6em 1em;
		line-height: 28px;
		ppvertical-align:bottom;
	}
	.hamburger {
		display:inline-block;
		width:27px;
		margin-right:10px;
		margin-left: 15px;
		float: right;
	}
	.hamburger i {
		display:block;
		width:100%;
		height:5px;
		background: #003375;
		margin-top:3px;
		
	}
	.relative_topMenu {
		display:block;
		position:relative;
		clear:both;
	}
	#topMenu {
		display:none;
	}

	#XXXXXXXXXXXXXXXX_Mobile_XXXXXXXXXXXXXXXX{}
	#XXXXXXXXXXXXXXXX_topRow_XXXXXXXXXXXXXXXX{}
	.topRowUL {
		position:absolute;
		width:100%;
		
		background:#f5f5f5; M_Top_LEVEL_BG:;
		
		margin:0;
		padding:0;
		text-align:left;
		z-index:12345; HAS_TO_OVERLAP_GALLERY:;
		
	}
	.topRowLI {
		display:block;
		position:relative;
		vertical-align:bottom;
		margin:0;
		padding:0;
		border-bottom: 1px solid #ffffff;
	}
	.topRowLI.markedGroup{
		 HILIGHT_BG:;
		ppcolor:#fff; HILIGHT_TXT:;
	}
	.topRowLI.thisIsThePage{}

	.topRowA,
	  .topRowA:visited,
	  .topArrow{
		display:block;
		text-align:left;
		color:#000000; DARK_GREY:;
		text-transform:capitalize;
		font-weight:400;
		font-size:1em;
		ppwhite-space:nowrap;
		ppline-height:inherit; USUALLY_SET_IN_body:;

		margin:0;
		padding:1em;
		text-decoration:none;
	}
	.topRowA.markedGroup {
		color:#044292; HILIGHT_TXT:;
	}
	.topRowA.thisIsThePage {}



	.topRowLI.withArrow {}
	.topRowA.withArrow {
		padding-right:3em; SPACE_FOR_topArrow:;
	}
	.topArrow {
		text-align:center;
		position:absolute;
		right:0;
		top:0;
		width:3em;
		padding-left:0;
		padding-right:0;
		ppheight:100%;
		cursor:pointer; THIS_IS_NOT_A_LINK:;
		ppborder-left:1px solid #524656;
		ppborder-top-left-radius: 1.5em;

		ppbackground:#eee; M_Top_LEVEL_BG:;
		PICTURE-background: url('../images/downarrow_dark.html') center no-repeat;
	}
	.topRowLI.markedGroup .topArrow {
		color:#044292; HILIGHT_TXT:;
		ppborder-left:1px solid #fff;

		pp HILIGHT_BG:;
		PICTURE-background: url('../images/downarrow_light.html') center no-repeat;
	}
	.topRowLI.thisIsThePage .topArrow {
		ppbackground:#eee; M_Top_LEVEL_BG:; OVERRIDE_MARKEDGROUP:;
	}



	.topRowLI.arrowClicked{
		 HILIGHT_BG:;
	}
	.topRowLI.arrowClicked .topRowA,
	  .topRowLI.arrowClicked .topArrow {
		color:#044292; HILIGHT_TXT:;
	}
	.topRowLI:hover .topSubUL {ONLY_JQ_CLICK_ACTION:;}
	.topRowLI:hover .topRowA,
	  .topRowLI:hover .topArrow { ALSO_WHILE_HOVER_topSub:;
		 HILIGHT_BG:;
		color:#f5f5f5; HILIGHT_TXT:;
		
		background: #044292;
	}
	.topRowLI:hover .topArrow {
		PICTURE-background: url('../images/downarrow_light.html') center no-repeat;
	}
	.topRowA:hover {color: #f5f5f5;}
	.topRowA.markedGroup:hover  {}
	.topRowA.thisIsThePage:hover  {}
	.topArrow:hover,
	  .topRowLI.arrowClicked .topArrow { TOPARROW_GETS_arrowClicked_IN_LI:;
		ppbackground:#ddd !important; M_Sub_LEVEL_BG:; OVERRIDE_ALL:;
	}
	.topRowLI.arrowClicked .topArrow {
		PICTURE-background: url('../images/uparrow_dark.html') center no-repeat;
	}
	.topRowLI.markedGroup.arrowClicked .topArrow {
		PICTURE-background: url('../images/uparrow_light.html') center no-repeat;
	}
	.topRowLI.arrowClicked:hover .topArrow {
		PICTURE-background: url('../images/uparrow_light.html') center no-repeat;
	}



	#XXXXXXXXXXXXXXXX_Mobile_XXXXXXXXXXXXXXXX{}
	#XXXXXXXXXXXXXXXX_topSub_XXXXXXXXXXXXXXXX{}
	.topSubUL {
		display:none;

		position:relative;
		width:100%;
		background:#ddd; M_Sub_LEVEL_BG:;

		border-top:none;
		border-right:none;
		border-bottom:none;
		border-left:none;
		margin:0;
		padding:0;
	}
	.topSubUL.rightAlign { JQ_CALCULATED:;
		NOT_USED_IN_MOBILE:;
	}

	.topSubLI {
		margin:0;
		padding:0;
		position:relative; FOR_ARROW_POSITIONING:;
	}
	.topSubLI.markedGroup{
		 HILIGHT_BG:;
	}
	.topSubLI.thisIsThePage{}


	.topSubA,
	  .topSubA:visited,
	  .subArrow {
		display:block;
		text-align:left;
		color:#524656; DARK_GREY:;
		font-weight:400;
		font-size:.9em;
		ppwhite-space:nowrap;
		text-transform: capitalize;
		
		margin:0;
		padding:.9em 1em;
		text-decoration:none;
	}
	.topSubA  {
		padding-left:2em;
	}
	.topSubA.markedGroup  {
		color:#524656; HILIGHT_TXT:;
	}
	.topSubA.thisIsThePage{}




	.topSubLI.withArrow {}
	.topSubA.withArrow {
		padding-right:3em; SAME_AS_subArrow_WIDTH:;
	}
	.subArrow {
		text-align:center;
		white-space:nowrap;
		padding-left:0;
		padding-right:0;

		position:absolute;
		right:0;
		top:0;
		width:3em; SAME_AS_topSubA_withArrow_PADDING_RIGHT:;
		background:ddd; M_Sub_LEVEL_BG:;
		cursor:pointer; THIS_IS_NOT_A_LINK:;
	}
	.topSubLI.markedGroup .subArrow {
		pp HILIGHT_BG:;
		color:#fff; HILIGHT_TXT:;
	}
	.topSubLI.thisIsThePage .subArrow {
		ppbackground:#ddd; M_Sub_LEVEL_BG:; OVERRIDE_MARKEDGROUP:;
	}



	.topSubLI.arrowClicked{
		 HILIGHT_BG:;
	}
	.topSubLI.arrowClicked .topSubA,
	  .topSubLI.arrowClicked .subArrow {
		color:#524656; HILIGHT_TXT:;
	}
	.topSubLI:hover{
		 HILIGHT_BG:;
		 background: #d2d1d1;
	}
	.topSubLI:hover .topSubA,
	  .topSubLI:hover .subArrow {
		color:#524656; HILIGHT_TXT:;
	}
	.topSubA:hover{}
	.topSubA.markedGroup:hover  {}
	.topSubA.thisIsThePage:hover  {}
	.subArrow:hover,
	  .subArrow.arrowClicked {
		ppbackground:#ccc !important; M_Gchild_LEVEL_BG:; OVERRIDE_ALL:;
	}


	#XXXXXXXXXXXXXXXX_Mobile_XXXXXXXXXXXXXXXX{}
	#XXXXXXXXXXXXXXXX_topGchild_XXXXXXXXXXXXXXXX{}
	.topGchildUL {
		display:none; SHOW_BY_JQ_slideDown:;
		background:#ccc; M_Gchild_LEVEL_BG:;
		position:relative;

		width:100%;
		margin:0;
		padding:0;
	}

	.topGchildLI {
		margin:0;
		padding:0;
	}
	.topGchildLI.markedGroup{}
	.topGchildLI.thisIsThePage{}

	.topGchildA,
	.topGchildA:visited {
		display:block;
		text-align:left;
		color:#524656; DARK_GREY:;
		font-weight:600;
		font-size:.9em;
		ppwhite-space:nowrap;
		text-transform: capitalize;
		margin:0;
		padding:.9em 1em .9em 3em;
		text-decoration:none;
	}
	.topGchildA.markedGroup  {
		 HILIGHT_BG:;
		color:#fff; HILIGHT_TXT:;
	}
	.topGchildA.thisIsThePage{}




	.topGchildLI:hover {}
	.topGchildA:hover {
		 HILIGHT_BG:;
		color:#fff; HILIGHT_TXT:;
	}
	.topGchildA.markedGroup:hover  {}
	.topGchildA.thisIsThePage:hover  {}
}

/* **************************************** */
/* **************************************** */
/* ****************        **************** */
/* ****************  SIDE  **************** */
/* ****************        **************** */
/* **************************************** */
/* **************************************** */


#sideNav {
	margin-top:2.5em;
	margin-bottom:2.5em;
}
/*
@media (max-width:1px){
	#sideNav {
		display:none; HIDE_MOBILE_SIDEMENU:;
	}
}
*/
@media (min-width:1px) {

	#XXXXXXXXXXXXXXXX_side_XXXXXXXXXXXXXXXX{}
	.sideUL {
		position:relative;
		width:100%;
		
		background:#f5f5f5; Sub_LEVEL_BG:;
		margin:0;
		padding:0;

		font-size:1em; QUICKLY_CHANGE_ALL_SIZES:;
	}
	.sideLI {
		display:block;
		position:relative;
		vertical-align:bottom;
		margin:0;
		padding:0;
		border-bottom: 1px solid #ffffff;
	}
	.sideLI.markedGroup {
		background:#044292; HILIGHT_BG:;
		ppcolor:#fff; HILIGHT_TXT:;
	}
	.sideLI.thisIsThePage{}

	.sideA,
	  .sideA:visited,
	  .sideArrow {
		display:block;
		text-align:left;
		color:#000000; DARK_GREY:;
		text-transform:capitalize;
		font-weight:400;
		font-size:1em;
		ppwhite-space:nowrap;
		ppline-height:60px; USUALLY_SET_IN_body:;
		cursor: pointer;
		margin:0;
		padding:1em;
		text-decoration:none;
	}
	.sideA.firstSideA {
		background:#003375;
		color:#fff;
		font-weight:600;
		font-size:1.25em;
		padding-left:.9em;
		cursor: pointer;
		text-transform: uppercase;
	}
	.sideA.markedGroup {
		ppbackground:#003375; HILIGHT_BG:;
		color:#fff; HILIGHT_TXT:;
	}
	.sideA.thisIsThePage {}




	.sideLI.withArrow {}
	.sideA.withArrow {
		padding-right:3em; SAME_AS_sideArrow_WIDTH:;
	}
	.sideArrow {
		text-align:center;
		padding-left:0;
		padding-right:0;

		position:absolute;
		right:0;
		top:0;
		width:3em; SAME_AS_sideA_withArrow_PADDING_RIGHT:;
		ppbackground:#eee; Sub_LEVEL_BG:;
		cursor:pointer; THIS_IS_NOT_A_LINK:;

		height:100%; HAS_TO_BE_sideSubUL_relative:;
	}
	.sideLI.markedGroup .sideArrow {
		ppbackground:#003375; HILIGHT_BG:;
		color:#fff; HILIGHT_TXT:;
	}
	.sideLI.thisIsThePage .sideArrow {
		ppbackground:#eee; Sub_LEVEL_BG:; OVERRIDE_MARKEDGROUP:;
		ppcolor:#524656; DARK_GREY:;
	}



	.sideLI.arrowClicked{
		background:#003375; HILIGHT_BG:;
	}
	.sideLI:hover {
		background:#044292; HILIGHT_BG:;
	}
	.sideLI:hover .sideSubUL { TOGGLE_HANDLED_BY_JQ:;}
	.sideLI:hover .sideA ,
	.sideLI:hover .sideArrow {
		color:#fff; HILIGHT_TXT:;
	}
	.sideA:hover {
		ppbackground:#003375; HILIGHT_BG:;
		ppcolor:#fff; HILIGHT_TXT:;
	}
	.sideA.firstSideA:hover {
		background:#000000; HILIGHT_BG:;
		color:#fff; HILIGHT_TXT:;
	}
	.sideA.markedGroup:hover  {}
	.sideA.thisIsThePage:hover  {}
	.sideArrow:hover,
	  .sideArrow.arrowClicked {
		ppbackground:#ddd !important; Gchild_LEVEL_BG:; OVERRIDE_ALL:;
		ppcolor:#524656 !important; DARK_GREY:; OVERRIDE_ALL:;
	}


	#XXXXXXXXXXXXXXXX_sideSub_XXXXXXXXXXXXXXXX{}
	.sideSubUL {
		display:none; SHOW_BY_JQ_slideDown:;
		background:#ddd; Gchild_LEVEL_BG:;

		width:100%;
		margin:0;
		padding:0;

		position:relative; TO_COVER_sideArrow:;
	}

	.sideSubLI {
		margin:0;
		padding:0;
	}
	.sideSubLI.markedGroup{}
	.sideSubLI.thisIsThePage{}
	.sideSubLI:hover {}

	.sideSubA,
	.sideSubA:visited {
		display:block;
		text-align:left;
		color:#524656; DARK_GREY:;
		font-weight:400;
		font-size:.9em;
		ppwhite-space:nowrap;
		cursor: pointer;
		margin:0;
		padding:1em .5em 1em 1.5em;
		text-decoration:none;
	}
	.sideSubA.markedGroup  {
		background:#003375; HILIGHT_BG:;
		color:#fff; HILIGHT_TXT:;
	}
	.sideSubA.thisIsThePage{}
	.sideSubA:hover {
		background:#003375; HILIGHT_BG:;
		color:#fff; HILIGHT_TXT:;
	}
	.sideSubA.markedGroup:hover  {}
	.sideSubA.thisIsThePage:hover  {}

}

@media (max-width:650px){
	.sideUL {
		font-size:.8em; QUICKLY_CHANGE_ALL_SIZES:;
	}
}

@media (max-width:549px){
	
	#mobileMenu {
    
    display: block;
    width: 100%;
    float: right;
    position: relative;
    clear: both;
    background: #e6e6e6;
    cursor: pointer;
   
    font-size: 1.2em;
    font-weight: 600;
    color: #003375;
    text-align: right;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    margin: 0 0 0 0;
    padding: 0.5em .4em .5em 1em;
	line-height: 28px;
	border-bottom: 1px solid #cccccc;
    }

	
}
