#iconbar { 
	background: #000000;
	
	text-align:right;
	height: 39px;
}
#iconbar a,
#iconbar .formimg {
	display:inline-block;
	margin:0;
	padding: .42em .7em; CALCULATE_FOR_equalheight:;
	border-left: 1px solid #ffffff;
}
#iconbar a:hover {
	
	background:#110a7a; 
}
#iconbar .formimg {
	background:#f8941d; LIGHTER_ORANGE:;
	cursor:pointer;
	white-space: nowrap;
}
#iconbar .formimg:hover {
	background:#be272d; DARKER_ORANGE:;
}
#iconbar a img,
#iconbar form img {
	vertical-align:bottom; FOR-IMAGES-TO-NOT-GET-EXTRA-SPACE-UNDERNEATH:;
	width:21px;
	height:21px; CALCULATE_FOR_equalheight:;
}




#iconbar .equalheight {
	height:47px; PADDING15PX_PLUS_32PX:;
}
#sharethis-holder {
	display:inline-block; 
	position:absolute;
	top:55px; 
	right:0;
}

 .callNow {
border-left: 1px solid #ffffff;
float: right;
color: #ffffff;

}

.callNowContent  {
position: relative;

}

#iconbar .callNow .callNowContent  a {
border-left: none;
border-right: 1px solid #ffffff;
color: #ffffff;

font-size: .835em;
font-weight: 600;

padding: 7px 1.4em 7px 1.4em;

}

#iconbar .callNow .callNowContent  a:hover {
background: #110a7a;
}

#iconbar .callNow .callNowContent a img {
width: 13px;
height: 13px;
padding-top: 0 !important;
margin-top: -.2em !important;
vertical-align: middle;
margin-right: .65em;
}

#siteSearchContainer {
	position:relative; FOR_SEARCH_HELP:;
    display:inline-block;
	
	float:right;
	width:30%; DEFINES_SEARCH_FIELD_WIDTH:;
	max-width:300px; DEFINES_SEARCH_FIELD_WIDTH:;
	background:white; INCASE_SEARCH_FIELD_POS_NOT_OPTIMAL:;
}
@media screen and (max-width:549px) {
	#siteSearchContainer {
		position:relative; FOR_SEARCH_HELP:;
		display:inline-block;
		
		float:right;
		width:100%; SEARCH_FORM_WILL SPAN_FULL_WIDTH:;
		max-width:none;
	}
}
#frmSiteSearch {
	display:inline-block;
	width:100%; SEARCH_FORM_WILL SPAN_FULL_WIDTH:;
	overflow:hidden;
	text-align:left; OVERRIDES_iconbar_SETTING:;
	position:relative;
}
#frmSiteSearch input[type='text']{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
	vertical-align:top; VERY_IMPORTANT:;

	margin:0;
	padding:0 0 0 10px;
	border:none;
	HEIGHT_FROM_equalheight:;
	width:90%; WILL_GO_UNDER_BUTTONS:;
}
#frmSiteSearchButtons {
	position:absolute;
	top:0;
	right:0;
}

/*@media screen and (max-width:960px) {
	#iconbar a,
	#iconbar .formimg {
		padding:4px 8px;
	}
	#iconbar a img,
	#iconbar .formimg img{
		width:22px;
		height:22px;
	}
	#iconbar .equalheight {
		height:30px; PADDING_PLUS_22PX:;
	}
}*/

#iconbar .topPhone  {
font-weight: 400;
padding: 0;
border-left: 1px solid #6d6f71;
border-right: 1px solid #6d6f71;
padding-top: .1em;
}

#iconbar .topPhone:hover  {
	
	background: #110a7a;
}

.topPhone {
float: right;

display: inline-block;
padding: .85em 1.5em .5em 1.5em;
font-size: 1em;
font-weight: 700;

margin-left: 0;
width: auto;
border-left: none;
}

#iconbar .topPhone  a{
float: right;


display: inline-block;
 padding: 0 !important;
font-size: .85em;
font-weight: 700;
color: #ffffff;
border-left: none !important;
width: auto;
}

#iconbar .topPhone  a:hover{
color: #DDDBDB;
background: #110a7a;
}

.topPhoneImg {
float: left;
padding: .2em 1em 0 0;
margin-bottom: 0;
margin-top: -.3em;
border: none;
font-weight: 700;
}

/*#iconbar  .topPhone a .topPhoneImg {
border-left: none;
font-weight: 500;
}*/

#iconbar .topPhone .topPhoneImg {
font-weight: 500;
padding: .9em 1.8em .4em 1.5em;
}


#iconbar .topPhone .topPhoneImg  img {
float: left;
padding: .1em .6em 0 0;
margin-bottom: 0;
margin-top: .18em;
width:13px;
height:13px;
border: none;
}

.topPhoneText {
font-weight: 500;
}

#iconbar .topEmail  {
float:right;
font-weight: 400;
background: #000000;
border-right: 1px solid #ffffff;


}


#iconbar .topEmail  a{
float: right;
font-size: .835em;
font-weight: 400;
color: #ffffff;
padding: 0;
border-left: none;
padding: 7px 1.4em 7px 1.4em;
}

#iconbar .topEmail:hover {

background: #110a7a;
}

#iconbar .topEmail a:hover {

background: #110a7a;
}

#iconbar .topEmail a  img {
float: left;
width:12px !important;
height:10px !important;
margin-top: .57em;
margin-right: .7em;
}

.topMakeAppt {
float: right;
color: #ffffff;
}

.topMakeApptContent  {
position: relative;
}

#iconbar .topMakeAppt .topMakeApptContent  a {
border-left: none;
color: #ffffff;
text-transform: uppercase;
font-size: .85em;
padding: .7em 2em .5em 2em;
background: #dd6e42;
}

#iconbar .topMakeAppt .topMakeApptContent  a:hover {
background: #000000;
opacity: 1;
}



@media (min-width: 1px) and (max-width: 549px) {

	.topPhoneText {
	display: none;
	}
	
	.topEmailUs {display: none; }
	
	
	.callUsDesktop {display: none; }
	
	.topCallUsText {
    font-weight: 400;
	}
	
	.mobileEmailUs {
	font-weight: 400;padding-top: .1em;
	}
	
	.topMakeAppt {
	display: none;
	}
	
	#iconbar .topEmail {
    float: right;
    font-weight: 500;
    padding-top: 0;
}

#iconbar .topMakeAppt .topMakeApptContent a {
    
    padding: .7em 2em .41em 2em;
    
}

#iconbar .topEmail a {
    
    border-right: none;
	
    font-size: .835em;
    font-weight: 400;
    color: #ffffff;
    padding: 0;
    border-left: none;
    padding: 7px 1.4em 4px 1.4em;

	}
	
	
	/*#iconbar .topPhone .topPhoneImg {
    padding: .8em 1.5em .3em 1.2em;
	}*/
	
	#iconbar {  }
	#iconbar a {
		padding: .3em .7em .42em .7em;
	}
	#iconbar .formimg {
		padding:4px 8px 6px 8px; GIVE_A_LITTLE_OVERFLOW:;
	}
	#iconbar a:hover { }
	#iconbar a img,
	#iconbar .formimg img {
		width:21px;
		height:21px;
		
		vertical-align:top; FOR-IMAGES-TO-NOT-GET-CUT:;
		vertical-align:middle; FOR-IMAGES-TO-NOT-GET-CUT:;
	}
	#iconbar .equalheight {
		height:24px; PADDING_PLUS_16PX:;
		height:30px; PADDING_PLUS_22PX:; POSSIBLE_IF_100PERCENT_WIDTH:;
	}
	
	
	#iconbar .callNow .callNowContent a {
    border-left: none;
    border-right: 1px solid #ffffff;
    color: #ffffff;
   
    font-size: .835em;
    font-weight: 600;
    padding: 7px 1.4em 5px 1.2em;
	}
	
	
	
	.blogNoSeeUptown { display: none;}
}

.searchHelp {
	display:none;
	position:absolute;
	right:2px;
	margin-top:2px;
	width:300px;
	background:#fff;
	padding:1em;
	border:1px solid #636363; LIGHT-GREY-ICON-SIDELINE:;
	border-radius:3px;
	-webkit-border-radius:3px;
	z-index:1500;
	text-align:left;
}
.helpClose {
	position:absolute;
	top:5px;
	right:5px;
	height:16px;
	width:16px;
	cursor:pointer;
	font-weight:700;
}
.searchHelp dt {
	margin-top:.5em;
	font-weight:400;
}

@media (min-width: 550px) and (max-width: 899px) {

	#iconbar a, #iconbar .formimg {
    /*padding: .55em .7em .47em .7em;*/
	}
	
	 .mobileEmailUs {display: none; }
	
	.callUsMobile {display: none; }

}


@media (min-width: 900px) {

	.mobileEmailUs {display: none;}
	.callUsMobile {display: none; }

}





