
.blog_widget a, a:visited {
	color:#000;
}

.blog_widget a:hover {
	color:#39469b;
}

.blog_widget h2.subpage {
	color: #39469b;
	text-transform: none;
	line-height: 1.1;
}

.blog_widget .clear-divider {
    clear: both;
    height: 1em;
    margin-top: -1em;
}

.blog_widget hr.color-divider {
    float: left;
    width: 4.3em;
    border-right: medium none;
    border-width: 1px medium medium;
    border-style: solid none none;
    border-color: #00447C -moz-use-text-color -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

.blog_widget ul.blog-list {
    padding: 0px;
    margin: 1em 0px 20px -15px;
    /*list-style-type: none;*/
    list-style-image: url('../../../images/list-arrow.html');
}

.blog_widget #recent-posts-container ul.blog-list {
	list-style-type: none;
	list-style-image: none;
}

.blog_widget ul.blog-list li {
    color: #000;
    position: relative;
    margin: .6em 0px .6em 1em;
	border:none;
}

.blog_widget .list-arrow {
    float: left;
    margin-right: 0.5em;
}

.blog_widget .list-arrow img {
	max-height: 10px;
	position: relative;
	vertical-align: bottom;
	margin-bottom:2px;
}

.blog_widget .byline {
	display:block;
}

.blog_widget #archives-container .list-arrow img, .blog_widget #category-list-container .list-arrow img {
	top:-3px;
}

.blog_widget .bottomBorder {
	border-bottom:1px solid #ccc;
	margin-bottom:1em;
}

.blog_widget button#submitStory {
	background:#fff;
	padding: 0 10px;
	border:3px solid #00447c;
	color:#000;
	float:left;
	clear: both;
	margin: 0px;
	height: 31px;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	border-radius: 5px;
	vertical-align:middle;
}

.blog_widget button#submitStory:hover, .blog_widget button#submitStory:active {
	background:#00447c;
	color:#fff;
}

/* Search form */
.blog_widget #frmSearch { clear:both; position:relative; }
.blog_widget #frmSearch input[type=text] {
	width:83%;
	float:left;
	display:inline-block;
	border:1px solid #ddd;
	height:50px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding:.8em;
	background:none;
}
.blog_widget #searchsubmit {
	position:absolute;
	right:0;
	top:0;
	width:50px;
	height:50px;
	border:1px solid #39469b;

	background: #39469b; /* Old browsers */
	background-image:url('../images/mag-glass.png') no-repeat center #39469b;
	background-image: url('../images/mag-glass.png'), -moz-linear-gradient(-45deg,  #39469b 0%, #39469b 100%); /* FF3.6+ */
	background-image: url('../images/mag-glass.png'), -webkit-gradient(linear, left top, right bottom, color-stop(0%,#39469b), color-stop(100%,#39469b)); /* Chrome,Safari4+ */
	background-image: url('../images/mag-glass.png'), -webkit-linear-gradient(-45deg,  #39469b 0%,#39469b 100%); /* Chrome10+,Safari5.1+ */
	background-image: url('../images/mag-glass.png'), -o-linear-gradient(-45deg,  #39469b 0%,#39469b 100%); /* Opera 11.10+ */
	background-image: url('../images/mag-glass.png'), -ms-linear-gradient(-45deg,  #39469b 0%,#39469b 100%); /* IE10+ */
	background-image: url('../images/mag-glass.png'), linear-gradient(135deg,  #39469b 0%,#39469b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39469b', endColorstr='#39469b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


	opacity:1.0;
	cursor:pointer;
}
.blog_widget #searchsubmit:hover, .blog_widget #searchsubmit:focus, .blog_widget #searchsubmit:active {
	opacity:.7;
}
/**/
